/* Paragraph specific. */
.paragraph {
  clear: both;
}

.paragraph--type--xeno-hero {
  position: relative;
  padding-top: 180px;
  padding-bottom: 140px;
}

.paragraph--type--xeno-hero ~ .paragraph--type--xeno-hero,
.item .paragraph--type--xeno-hero {
  padding: 90px 0;
}

.paragraph--type--xeno-hero > .paragraph {
  z-index: 2;
}

.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h1,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h2,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h3,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h4,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h5,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) h6,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) p,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) ul,
.paragraph--type--xeno-hero:not(.paragraph--overlay--invert) blockquote {
  color: #fff;
}

/* Background Image. */
.paragraph--type--xeno-hero__image {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #252525;
  background-image: none;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0 !important;
  transition: all 0.3s linear 0s;
  will-change: transform, top;
  z-index: 0;
}

.paragraph--type--xeno-hero__image:not([class*="col-"]) {
  width: 100%;
}

.paragraph--type--xeno-hero__image img {
  display: none;
}

/* Overlay. */
[data-overlay] {
  position: relative;
}

[data-overlay]::before {
  background: #252525 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-overlay] *:not(.paragraph):not(.paragraph--type--xeno-hero__image) {
  z-index: 2;
}

.paragraph--overlay--invert[data-overlay]::before {
  background: #fff none repeat scroll 0 0;
}

[data-overlay="1"]::before {
  opacity: 0.1;
}

[data-overlay="2"]::before {
  opacity: 0.2;
}

[data-overlay="3"]::before {
  opacity: 0.3;
}

[data-overlay="4"]::before {
  opacity: 0.4;
}

[data-overlay="5"]::before {
  opacity: 0.5;
}

[data-overlay="6"]::before {
  opacity: 0.6;
}

[data-overlay="7"]::before {
  opacity: 0.7;
}

[data-overlay="8"]::before {
  opacity: 0.8;
}

[data-overlay="9"]::before {
  opacity: 0.9;
}

/* Parallax. */
.paragraph--type--xeno-hero {
  overflow: hidden;
}

.paragraph--type--xeno-hero .paragraph--type--xeno-hero__image {
  transition: none 0s ease 0s !important;
}

/* Zoom. */
.paragraph--zoom .paragraph--type--xeno-hero__image {
  overflow: hidden;
  width: 100%;
  -webkit-animation: ken-burns 15s ease alternate infinite;
  -moz-animation: ken-burns 15s ease alternate infinite;
  -o-animation: ken-burns 15s ease alternate infinite;
  animation: ken-burns 15s ease alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
}

.paragraph--zoom--1 .paragraph--type--xeno-hero__image {
  animation-duration: 10s;
}

.paragraph--zoom--2 .paragraph--type--xeno-hero__image {
  animation-duration: 20s;
}

.paragraph--zoom--3 .paragraph--type--xeno-hero__image {
  animation-duration: 30s;
}

.paragraph--zoom--4 .paragraph--type--xeno-hero__image {
  animation-duration: 40s;
}

.paragraph--zoom--5 .paragraph--type--xeno-hero__image {
  animation-duration: 50s;
}

.paragraph--zoom--6 .paragraph--type--xeno-hero__image {
  animation-duration: 60s;
}

/* Zoom animation. */
@-webkit-keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@-moz-keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@-ms-keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@-o-keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
